@tailwind base;
@tailwind components;
@tailwind utilities;


.zx{
    z-index: 999;
}
body{
    direction: rtl;
}
p{
    text-align: justify;
    line-height: 30px;
}
.footerr{
    background-image: url('./public/image/smage13.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'Tajawal', sans-serif;
    position: relative;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
